<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>New Patient</strong>
  </h5>

  <div class="card-body px-lg-5 pt-0">

    <form class="md-form" style="color: #757575;">
      <h3>General Information</h3>

      <label for="input">First Name</label>
      <input type="text" required class="form-control" placeholder="">

      <label for="input">Mid Name</label>
      <input type="text" class="form-control" placeholder="">

      <label for="input">Last Name</label>
      <input type="text" required class="form-control" placeholder="">

      <label for="input">Suffix</label>
      <input type="text" required class="form-control" placeholder="">

      <label for="textarea">Address Line1</label>
      <textarea class="form-control md-textarea" required id="textarea" placeholder=""></textarea>

      <label for="textarea">Address Line2</label>
      <textarea class="form-control md-textarea" required id="textarea" placeholder=""></textarea>

      <label for="input">PO Box</label>
      <input type="text" class="form-control" placeholder="">
      <div class="mb-4">
        <select class="mdb-select md-form mb-4 initialized">
          <option value="" disabled="" selected="">Choose Sex</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>

        </select>
      </div>
      <div>
        <label for="input">Birth Date </label>
        <input type="date" name="bday">
      </div>
      <label for="input">Emirate ID</label>
      <input type="text" required class="form-control" placeholder="">

      <label for="input">Passport Number</label>
      <input type="text" required class="form-control" placeholder="">

      <label for="input">Work Title</label>
      <input type="text" class="form-control" placeholder="">

      <label for="input">Mail Address</label>
      <input type="text" class="form-control" placeholder="">
      <hr />
      <h3>Telephone</h3>
      <label for="input">Mobile</label>
      <input type="text" required class="form-control" placeholder="">

      <label for="input">Home</label>
      <input type="text" class="form-control" placeholder="">

      <label for="input">Work</label>
      <input type="text" class="form-control" placeholder="">

      <hr />
      <h3>Guardian Details</h3>
      <div class="d-flex align-items-center justify-content-between">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="hasGaurdian">
          <label class="form-check-label" for="hasGaurdian">Has Guardian</label>
        </div>

      </div>
      <hr/>
      <h3>More Information</h3>
      <label for="input">Nationality</label>
      <input type="text" required class="form-control" placeholder="">

      <label for="input">Insurance Coverage</label>
      <input type="text" required class="form-control" placeholder="">


      <select class="mdb-select md-form mb-4 initialized">
        <option value="" disabled="" selected="">Martial Status</option>
        <option value="Single">Single</option>
        <option value="Married">Married</option>
        <option value="Divorced">Divorced</option>
      </select>

      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Create</button>


    </form>
  </div>
</div>
