<h1>Patients</h1>

<p style="float:right">
  <input type="button" value="Add Patient" (click)="addNewPatient()" />
</p>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Mid Name</th>
      <th>Last Name</th>
      <th>Suffix</th>
      <th>Mobile No</th>
      <th>Nationality</th>
      <th>Sex</th>
      <th>Passport Number</th>
      <th>Emirates ID</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients" (click)="goToPatientDetails(patient.id)" style="cursor:pointer">
      <td>{{ patient.firstName }}</td>
      <td>{{ patient.midName }}</td>
      <td>{{ patient.lastName }}</td>
      <td>{{ patient.suffix }}</td>
      <td>{{ patient.mobilePhone }}</td>
      <td>{{ patient.nationality }}</td>
      <td>{{ patient.sex }}</td>
      <td>{{patient.passportNumber}}</td>
      <td>{{patient.emiratesID}}</td>
    </tr>
  </tbody>
</table>
